body {
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(#ffb6c1, #ffe4e1);
font-family: Arial;
overflow:hidden;
}

.container {
text-align:center;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 0 20px pink;
}

h1 {
color:#ff1493;
}

.name {
font-size:20px;
margin-bottom:30px;
}

button {
padding:15px 40px;
font-size:20px;
border:none;
border-radius:10px;
cursor:pointer;
margin:10px;
}

#yes {
background:#ff1493;
color:white;
}

#no {
background:#ccc;
}

.emoji {
position:fixed;
top:-30px;
font-size:30px;
animation:fall 5s linear;
}

@keyframes fall {
to {
transform:translateY(110vh);
opacity:0;
}
}
